.controls {
}

.button {
    padding: 15px 20px;
    margin: 5px;
    border: none;
    background-color: SteelBlue;
    cursor: pointer;
}

.input {
    padding: 5px;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid SteelBlue;
    outline: none;
}

.validationMessage {
    margin: 5px;
    color: red;
    font-size: 10px;
    font-weight: lighter;
}
