.container {
    max-width: 1080px;
    margin: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.todo {
    width: calc(25% - 10px);
    margin: 5px;
    padding-bottom: 25%;
    position: relative;
    border: 1px solid SteelBlue;
    box-sizing: border-box;
}

.todoName {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.controls {
}

.button {
    padding: 15px 20px;
    margin: 5px;
    border: none;
    background-color: SteelBlue;
    cursor: pointer;
}

.input {
    padding: 5px;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid SteelBlue;
    outline: none;
}

.validationMessage {
    margin: 5px;
    color: red;
    font-size: 10px;
    font-weight: lighter;
}
