.todo {
    width: calc(25% - 10px);
    margin: 5px;
    padding-bottom: 25%;
    position: relative;
    border: 1px solid SteelBlue;
    box-sizing: border-box;
}

.todoName {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
